.searchBar {
    border-radius: 25px;
    border-right-style: none;
}

.primary {
    background-color: #26ffdf;
    color: black;
    border-color: #26ffdf;
    outline: none;
}

.primary:hover {
    background-color: #26ffdf;
    border-color: #26ffdf;
    color: black;
}
